<div class="head-area">
	<h1>Tule</h1>
	<p class="sub-title"> ～information shared～ </p>
</div>

<div id="memo-list">
<% @posts.each do |post| %>
	<div class="memo category<%= post.category %>" id="memo<%= post.id %>" style="-webkit-transform:rotate(<%= Random.rand(-5 .. 5) %>deg);">
		<span class='tape'></span>
		<span class="destroy-btn"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
		<%
        #投稿内容のURL形式の記述をaタグで囲む
		contents = post.contents
        uri_reg = URI.regexp(%w[http https])
        contents.gsub!(uri_reg) {%Q{<a href="#{$&}">#{$&}</a>}}
		%>
		<p><%= simple_format(contents) %></p>
	</div>
<% end %>
</div>

<!--<div id="input-area">-->
<!--	<textarea name="input_field" id="input-field" rows="11"></textarea>-->
<!--</div>-->
<%= form_for(@post, :url => {:controller => :home, :action => :create}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="input-area">
	<%= f.text_area :contents,:size => "40x10" %>
	<%= f.select :category, [["緊急連絡", 1], ["連絡事項", 2], ["情報共有", 3]] %>
	<div class="actions">
		<%= f.submit("add") %>
	</div>
  </div>
  <div class="input-show"><p>+</p></div>
<% end %>